USE [master]
GO
/****** Object:  Database [DBStudeal]    Script Date: 2018-06-19 11:47:56 PM ******/
CREATE DATABASE [DBStudeal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBStudeal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2\MSSQL\DATA\DBStudeal.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBStudeal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2\MSSQL\DATA\DBStudeal_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBStudeal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBStudeal]
GO
/****** Object:  Table [dbo].[MeetingRequest]    Script Date: 2018-06-19 11:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MeetingRequest](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[State] [varchar](50) NULL,
	[StudentID] [int] NULL,
	[TimeSlotID] [int] NULL,
 CONSTRAINT [PK_MeetingRequest] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2018-06-19 11:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Member](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[isTutor] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 2018-06-19 11:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[TimeSlotID] [int] IDENTITY(1,1) NOT NULL,
	[Day] [varchar](50) NULL,
	[StartTime] [varchar](50) NULL,
	[EndTime] [varchar](50) NULL,
	[TutoringID] [int] NULL,
 CONSTRAINT [PK_TimeSlot] PRIMARY KEY CLUSTERED 
(
	[TimeSlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tutoring]    Script Date: 2018-06-19 11:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tutoring](
	[TutoringID] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [varchar](50) NULL,
	[TutorID] [int] NULL,
	[CreationDate] [date] NULL,
 CONSTRAINT [PK_Tutoring] PRIMARY KEY CLUSTERED 
(
	[TutoringID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([Id], [FirstName], [LastName], [UserName], [Password], [isTutor]) VALUES (1, N'Tutor', N'Tutor', N'tutor', N'tutor', 1)
INSERT [dbo].[Member] ([Id], [FirstName], [LastName], [UserName], [Password], [isTutor]) VALUES (3, N'Student', N'Student', N'student', N'student', 0)
SET IDENTITY_INSERT [dbo].[Member] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_UserName]    Script Date: 2018-06-19 11:47:56 PM ******/
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [UQ_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MeetingRequest]  WITH CHECK ADD  CONSTRAINT [FK_StudentID_MeetingRequest] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Member] ([Id])
GO
ALTER TABLE [dbo].[MeetingRequest] CHECK CONSTRAINT [FK_StudentID_MeetingRequest]
GO
ALTER TABLE [dbo].[MeetingRequest]  WITH CHECK ADD  CONSTRAINT [FK_TimeSlotID_MeetingRequest] FOREIGN KEY([TimeSlotID])
REFERENCES [dbo].[TimeSlot] ([TimeSlotID])
GO
ALTER TABLE [dbo].[MeetingRequest] CHECK CONSTRAINT [FK_TimeSlotID_MeetingRequest]
GO
ALTER TABLE [dbo].[TimeSlot]  WITH CHECK ADD  CONSTRAINT [FK_TutoringID_TimeSlot] FOREIGN KEY([TutoringID])
REFERENCES [dbo].[Tutoring] ([TutoringID])
GO
ALTER TABLE [dbo].[TimeSlot] CHECK CONSTRAINT [FK_TutoringID_TimeSlot]
GO
ALTER TABLE [dbo].[Tutoring]  WITH CHECK ADD  CONSTRAINT [FK_TutorID_Tutoring] FOREIGN KEY([TutorID])
REFERENCES [dbo].[Member] ([Id])
GO
ALTER TABLE [dbo].[Tutoring] CHECK CONSTRAINT [FK_TutorID_Tutoring]
GO
USE [master]
GO
