@model IEnumerable<ProjectLayout.Models.Tutoring>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTutor.cshtml";
}

<h2>Acceuil des enseignants</h2>
<p>Bienvenu @ViewBag.FName @ViewBag.LName </p>
